In [1]:
#Importing necessary libraries

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from pandas import DataFrame , concat
from sklearn.metrics import mean_absolute_error , mean_squared_error
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,LSTM,Activation,Dropout
from tensorflow.keras.optimizers import Adam
from numpy import array , hstack
from tensorflow import keras
import tensorflow as tf
import datetime as dt
from datetime import datetime
from keras.models import Sequential
from keras.callbacks import EarlyStopping, ReduceLROnPlateau, ModelCheckpoint, TensorBoard
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.optimizers import Adam
import sklearn.metrics as metrics

%matplotlib inline
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Supressing warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
with open("methanol_80%train.json","r") as json_file:
    json_savedModel =json_file.read()
    
model =tf.keras.models.model_from_json(json_savedModel)
model.load_weights("weights_80%train.h5")

# Compiling the Neural Network
model.compile(optimizer = Adam(learning_rate=0.01), loss='mean_squared_error', metrics=['mse','mae','mape'])

In [14]:
# Defining mean absolute percentage error
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [15]:
df = pd.read_csv("master methanol.csv")
#df = df.drop('North_America',axis=1)
df.tail()

,Date,India Price,Asia Price,China Price,Rotterdam Price,US Domestic Price,Natural Gas Price,Crude Oil Price
687,11-06-2021,294.0,353.0,309.8,305.0,121.13,3.12,71.5
688,18-06-2021,294.0,355.0,308.6,310.8,121.13,3.28,71.5
689,25-06-2021,292.0,364.0,307.0,309.5,121.13,3.28,71.5
690,02-07-2021,292.0,368.0,308.0,313.2,121.13,3.11,74.8
691,09-07-2021,290.0,381.0,306.4,334.7,121.13,3.11,74.8

In [16]:
crude_oil = df[['Date',"Crude Oil Price"]]
crude_oil.head()
natural_gas = df[['Date',"Natural Gas Price"]]
natural_gas.head()

         Date  Natural Gas Price
0  11-04-2008               9.88
1  18-04-2008              10.13
2  25-04-2008              10.54
3  02-05-2008              10.75
4  09-05-2008              11.11

In [17]:
test_data = df.iloc[500:,:]
test_data
# testing
l = [10,15,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,210,220,230,240,250,260,270,280,290,300,400]
len(l)

34

In [18]:
list_error = []
for i  in l :
    master = df.iloc[:-i,:]
    master.tail()
    crude_p= crude_oil.iloc[-i-1:,:]      # for future forecasting
    crude_p = crude_p.head(6)
    natural_p= natural_gas.iloc[-i-1:,:]      # for future forecasting
    natural_p = natural_p.head(6)
    test= df.iloc[-i-1:,:]         # for testing
    test = test.head(6)

    natural_p = natural_p['Natural Gas Price'].values
    natural_p = np.expand_dims(natural_p,axis=1)

    crude_p  =  crude_p['Crude Oil Price'].values
    crude_p = np.expand_dims(crude_p,axis=1)

# Select features (columns) to be involved into training and predictions
    from sklearn.preprocessing import MinMaxScaler
    dataset_train = master
    cols = list(dataset_train)[1:8]

# Extract dates (will be used in visualization)
    datelist_train = list(dataset_train['Date'])

#Displaying the values
    #print('Training set shape == {}'.format(dataset_train.shape))
    #print('All timestamps == {}'.format(len(datelist_train)))
    #print('Featured selected: {}'.format(cols))


#Preparing the training set
    dataset_train = dataset_train[cols].astype(str)
    for i in cols:
        for j in range(0, len(dataset_train)):
            dataset_train[i][j] = dataset_train[i][j].replace(',', '')

    dataset_train = dataset_train.astype(float)
    training_set = dataset_train.to_numpy()

    #print('Shape of training set == {}.'.format(training_set.shape))



    natural_train =master['Natural Gas Price'].values
    natural_train  = np.expand_dims(natural_train,axis=1)
    crude_train = master['Crude Oil Price'].values
    crude_train = np.expand_dims(crude_train,axis=1)


# Feature scaling using standard scaler
    from sklearn.preprocessing import StandardScaler

    sc = StandardScaler()
    sc.fit(training_set)                                  #fitting on training data
    training_set_scaled=sc.transform(training_set)


    sc_nat = StandardScaler()                   #fitting on forecasting data
    sc_crude =StandardScaler()
    sc_nat.fit(natural_train)               # fitting on training natural gas
    sc_crude.fit(crude_train)               # fitting on training crude oil
    crude = sc_crude.transform(crude_p)     # transforming future 12 weeks data crude oil
    natural =sc_nat.transform(natural_p)    # transforming future 12 weeks data natural gas

    sc_predict = StandardScaler()
    sc_predict.fit(training_set[:,:5])
    sc_predict.transform(training_set[:,:5])
#crude_future = sc_crude.transform(y)
#natural_future = sc_natural.fit_transform(y1)

# Creating a data structures for training

    X_train = []
    y_train = []

#n_future = 20   # Number of weeks we want top predict into the future
    n_past =20   # Number of weeks we want to use to predict the future

    for i in range(n_past, len(training_set_scaled)):
        X_train.append(training_set_scaled[i - n_past:i, 0:dataset_train.shape[1] ])  #dataset_train.shape[1]
        y_train.append(training_set_scaled[i , :5]) 

    X_train, y_train = np.array(X_train), np.array(y_train)

    #print('X_train shape == {}.'.format(X_train.shape))
    #print('y_train shape == {}.'.format(y_train.shape))


    x= X_train[-1:]
    predict = model.predict(x)
#sc_predict.inverse_transform(predict)
    #print(predict.shape)
    #print(sc_predict.inverse_transform(predict))
    forecast = []
    forecast.append(predict)
    for i in range(5):
        result = np.delete(x, 0, 1)
        result  =np.squeeze(result,axis=0)
        p = np.squeeze(predict,axis=0)
        p1 =np.concatenate((p,natural[i],crude[i]))
        p1 =np.expand_dims(p1,axis=0)
        new_predict = np.concatenate((result,p1))
        new_predict = np.expand_dims(new_predict,axis=0)
        predict = model.predict(new_predict)
        forecast.append(predict)
        x = new_predict
    
    


    fore = np.array(forecast)
    forecast=sc_predict.inverse_transform(fore)


    forecast = np.squeeze(forecast)
    predictions_future = pd.DataFrame(forecast, columns=['India Pred Price', 'Asia Pred Price',"China Pred Price","Rotterdam Pred Price",'US Domestic Pred Price',
                                 ])


    test.reset_index(drop=True,inplace=True)
    output= pd.concat([test,predictions_future],axis=1)
#output.head()
    mae = metrics.mean_absolute_error(np.array(output['India Price']),np.array(output['India Pred Price']))
    mse = metrics.mean_squared_error(np.array(output['India Price']),np.array(output['India Pred Price']))
    #mape = mean_absolute_percentage_error(np.array(output.iloc['India Price']),np.array(output.iloc['India Pred Price']))
    print("Mean absolute error of Forecasted data set (India Price):     {}".format(mae))
    #print("Mean absolute % error of Forecasted dataset :                 {}".format(mape))
    #print("Mean squared error of error of Forecasted dataset :           {}".format(mse))
    #print("*"*50)
    list_error.append(round(mae,2))
    #output = output.rename(columns={"India Price":"Actual","India Pred Price":"Predicted"})
    #output = output.rename(columns={"India Price":"Actual","India Pred Price":"Predicted"})
    output['Error'] =output['India Price']-output['India Pred Price']
    output = output.rename(columns={"India Price":"Actual","India Pred Price":"Predicted"})
    print(output[['Date','Actual','Predicted','Error']])
    print("*"*50)

Mean absolute error of Forecasted data set (India Price):     27.5704345703125
         Date  Actual   Predicted      Error
0  30-04-2021   276.0  269.017242   6.982758
1  07-05-2021   276.0  266.880798   9.119202
2  14-05-2021   296.0  263.211304  32.788696
3  21-05-2021   295.0  259.367523  35.632477
4  28-05-2021   296.0  255.655273  40.344727
5  04-06-2021   293.0  252.445251  40.554749
**************************************************
Mean absolute error of Forecasted data set (India Price):     17.341529846191406
         Date  Actual   Predicted      Error
0  26-03-2021   274.0  267.579163   6.420837
1  02-04-2021   274.0  264.227661   9.772339
2  09-04-2021   276.0  259.649109  16.350891
3  16-04-2021   275.0  255.047653  19.952347
4  23-04-2021   275.0  251.263245  23.736755
5  30-04-2021   276.0  248.183990  27.816010
**************************************************
Mean absolute error of Forecasted data set (India Price):     30.038551330566406
         Date  Actual   Predicted      Error
0  19-02-2021   282.0  277.837250   4.162750
1  26-02-2021   284.0  275.710663   8.289337
2  05-03-2021   289.0  256.247223  32.752777
3  12-03-2021   283.0  241.744064  41.255936
4  19-03-2021   281.0  232.961288  48.038712
5  26-03-2021   274.0  228.268204  45.731796
**************************************************
Mean absolute error of Forecasted data set (India Price):     40.19616444905599
         Date  Actual   Predicted      Error
0  11-12-2020   249.0  232.405579  16.594421
1  18-12-2020   268.0  236.681854  31.318146
2  25-12-2020   282.0  237.400574  44.599426
3  01-01-2021   283.0  238.399994  44.600006
4  08-01-2021   288.0  238.865204  49.134796
5  15-01-2021   294.0  239.069809  54.930191
**************************************************
Mean absolute error of Forecasted data set (India Price):     11.138097127278646
         Date  Actual   Predicted      Error
0  02-10-2020   184.0  199.046204 -15.046204
1  09-10-2020   185.0  202.781555 -17.781555
2  16-10-2020   189.0  205.615509 -16.615509
3  23-10-2020   198.0  207.885284  -9.885284
4  30-10-2020   203.0  208.340759  -5.340759
5  06-11-2020   206.0  208.159271  -2.159271
**************************************************
Mean absolute error of Forecasted data set (India Price):     38.71190897623698
         Date  Actual   Predicted      Error
0  24-07-2020   150.0  182.586456 -32.586456
1  31-07-2020   151.0  185.701965 -34.701965
2  07-08-2020   151.0  190.842880 -39.842880
3  14-08-2020   153.0  194.673248 -41.673248
4  21-08-2020   158.0  198.746841 -40.746841
5  28-08-2020   159.0  201.720062 -42.720062
**************************************************
Mean absolute error of Forecasted data set (India Price):     47.599021911621094
         Date  Actual   Predicted      Error
0  15-05-2020   143.0  176.586472 -33.586472
1  22-05-2020   138.0  177.989288 -39.989288
2  29-05-2020   138.0  183.279999 -45.279999
3  05-06-2020   136.0  187.470612 -51.470612
4  12-06-2020   136.0  192.434845 -56.434845
5  19-06-2020   138.0  196.832916 -58.832916
**************************************************
Mean absolute error of Forecasted data set (India Price):     49.54574076334635
         Date  Actual   Predicted      Error
0  06-03-2020   200.0  226.582199 -26.582199
1  13-03-2020   189.0  227.131393 -38.131393
2  20-03-2020   182.0  226.578186 -44.578186
3  27-03-2020   172.0  224.656723 -52.656723
4  03-04-2020   156.0  222.829681 -66.829681
5  10-04-2020   152.0  220.496262 -68.496262
**************************************************
Mean absolute error of Forecasted data set (India Price):     10.540789286295572
         Date  Actual   Predicted      Error
0  27-12-2019   200.0  220.701385 -20.701385
1  03-01-2020   208.0  225.136154 -17.136154
2  10-01-2020   230.0  231.352203  -1.352203
3  17-01-2020   234.0  236.748657  -2.748657
4  24-01-2020   233.0  241.485275  -8.485275
5  31-01-2020   233.0  245.821060 -12.821060
**************************************************
Mean absolute error of Forecasted data set (India Price):     28.56684112548828
         Date  Actual   Predicted      Error
0  18-10-2019   218.0  230.019714 -12.019714
1  25-10-2019   215.0  232.886047 -17.886047
2  01-11-2019   211.0  236.725204 -25.725204
3  08-11-2019   213.0  239.115021 -26.115021
4  15-11-2019   202.0  241.791290 -39.791290
5  22-11-2019   195.0  244.863770 -49.863770
**************************************************
Mean absolute error of Forecasted data set (India Price):     27.433123270670574
         Date  Actual   Predicted      Error
0  09-08-2019   213.0  233.585632 -20.585632
1  16-08-2019   215.0  233.595367 -18.595367
2  23-08-2019   207.0  235.937897 -28.937897
3  30-08-2019   208.0  238.534546 -30.534546
4  06-09-2019   207.0  241.332306 -34.332306
5  13-09-2019   212.0  243.612991 -31.612991
**************************************************
Mean absolute error of Forecasted data set (India Price):     7.927266438802083
         Date  Actual   Predicted      Error
0  31-05-2019   262.0  268.360107  -6.360107
1  07-06-2019   262.0  266.326141  -4.326141
2  14-06-2019   260.0  264.449432  -4.449432
3  21-06-2019   253.0  263.056030 -10.056030
4  28-06-2019   254.0  262.449310  -8.449310
5  05-07-2019   249.0  262.922577 -13.922577
**************************************************
Mean absolute error of Forecasted data set (India Price):     24.414332071940105
         Date  Actual   Predicted      Error
0  22-03-2019   292.0  275.535065  16.464935
1  29-03-2019   290.0  273.532318  16.467682
2  05-04-2019   290.0  271.699493  18.300507
3  12-04-2019   291.0  270.401886  20.598114
4  19-04-2019   307.0  269.770447  37.229553
5  26-04-2019   307.0  269.574799  37.425201
**************************************************
Mean absolute error of Forecasted data set (India Price):     54.27241007486979
         Date  Actual   Predicted      Error
0  11-01-2019   233.0  220.468475  12.531525
1  18-01-2019   240.0  222.115097  17.884903
2  25-01-2019   285.5  221.098404  64.401596
3  01-02-2019   290.5  223.515991  66.984009
4  08-02-2019   305.5  226.420639  79.079361
5  15-02-2019   315.0  230.246933  84.753067
**************************************************
Mean absolute error of Forecasted data set (India Price):     60.5453847249349
         Date  Actual   Predicted       Error
0  02-11-2018   430.0  424.485352    5.514648
1  09-11-2018   390.0  417.323120  -27.323120
2  16-11-2018   340.0  403.616241  -63.616241
3  23-11-2018   284.0  384.209290 -100.209290
4  30-11-2018   267.0  357.905365  -90.905365
5  07-12-2018   250.0  325.703644  -75.703644
**************************************************
Mean absolute error of Forecasted data set (India Price):     33.16723124186198
         Date  Actual   Predicted      Error
0  24-08-2018   370.0  365.875641   4.124359
1  31-08-2018   370.0  357.280975  12.719025
2  07-09-2018   369.0  344.780090  24.219910
3  14-09-2018   369.0  330.083679  38.916321
4  21-09-2018   365.0  315.036072  49.963928
5  28-09-2018   370.0  300.940155  69.059845
**************************************************
Mean absolute error of Forecasted data set (India Price):     43.39549763997396
         Date  Actual   Predicted      Error
0  15-06-2018   380.0  370.777313   9.222687
1  22-06-2018   380.0  361.119019  18.880981
2  29-06-2018   380.0  346.504364  33.495636
3  06-07-2018   382.0  329.893066  52.106934
4  13-07-2018   382.0  313.072693  68.927307
5  20-07-2018   375.0  297.260559  77.739441
**************************************************
Mean absolute error of Forecasted data set (India Price):     69.46471659342448
         Date  Actual   Predicted      Error
0  06-04-2018   422.0  359.288055  62.711945
1  13-04-2018   416.0  353.174866  62.825134
2  20-04-2018   394.0  343.220642  50.779358
3  27-04-2018   404.0  330.801025  73.198975
4  04-05-2018   399.0  317.238129  81.761871
5  11-05-2018   389.0  303.488983  85.511017
**************************************************
Mean absolute error of Forecasted data set (India Price):     24.920644124348957
         Date  Actual   Predicted      Error
0  26-01-2018   383.0  389.260986  -6.260986
1  02-02-2018   367.0  372.200775  -5.200775
2  09-02-2018   359.0  348.842529  10.157471
3  16-02-2018   347.0  322.380737  24.619263
4  23-02-2018   342.0  297.304260  44.695740
5  02-03-2018   336.0  277.410370  58.589630
**************************************************

Mean absolute error of Forecasted data set (India Price):     105.98286946614583
         Date  Actual   Predicted       Error
0  17-11-2017   325.0  296.682434   28.317566
1  24-11-2017   354.0  290.447571   63.552429
2  01-12-2017   381.0  282.484467   98.515533
3  08-12-2017   401.0  274.440125  126.559875
4  15-12-2017   415.0  266.986603  148.013397
5  22-12-2017   432.0  261.061584  170.938416
**************************************************
Mean absolute error of Forecasted data set (India Price):     68.7935078938802
         Date  Actual   Predicted      Error
0  08-09-2017   310.0  262.463715  47.536285
1  15-09-2017   350.0  262.862793  87.137207
2  22-09-2017   329.0  260.831055  68.168945
3  29-09-2017   330.0  258.218536  71.781464
4  06-10-2017   331.0  255.849228  75.150772
5  13-10-2017   316.0  253.013626  62.986374
**************************************************
Mean absolute error of Forecasted data set (India Price):     15.779513041178385
         Date  Actual   Predicted      Error
0  30-06-2017   240.0  229.415619  10.584381
1  07-07-2017   242.0  228.841339  13.158661
2  14-07-2017   242.0  227.994446  14.005554
3  21-07-2017   243.0  226.922424  16.077576
4  28-07-2017   242.0  225.670334  16.329666
5  04-08-2017   250.0  225.478760  24.521240
**************************************************
Mean absolute error of Forecasted data set (India Price):     7.681050618489583
         Date  Actual   Predicted      Error
0  21-04-2017   260.0  257.157166   2.842834
1  28-04-2017   250.0  244.818222   5.181778
2  05-05-2017   231.0  234.140915  -3.140915
3  12-05-2017   229.0  226.032532   2.967468
4  19-05-2017   232.0  220.318405  11.681595
5  26-05-2017   237.0  216.728287  20.271713
**************************************************
Mean absolute error of Forecasted data set (India Price):     15.779513041178385
         Date  Actual   Predicted      Error
0  30-06-2017   240.0  229.415619  10.584381
1  07-07-2017   242.0  228.841339  13.158661
2  14-07-2017   242.0  227.994446  14.005554
3  21-07-2017   243.0  226.922424  16.077576
4  28-07-2017   242.0  225.670334  16.329666
5  04-08-2017   250.0  225.478760  24.521240
**************************************************
Mean absolute error of Forecasted data set (India Price):     7.681050618489583
         Date  Actual   Predicted      Error
0  21-04-2017   260.0  257.157166   2.842834
1  28-04-2017   250.0  244.818222   5.181778
2  05-05-2017   231.0  234.140915  -3.140915
3  12-05-2017   229.0  226.032532   2.967468
4  19-05-2017   232.0  220.318405  11.681595
5  26-05-2017   237.0  216.728287  20.271713
**************************************************
Mean absolute error of Forecasted data set (India Price):     75.93978881835938
         Date  Actual   Predicted       Error
0  10-02-2017   360.0  320.774353   39.225647
1  17-02-2017   375.0  312.906342   62.093658
2  24-02-2017   371.0  300.409027   70.590973
3  03-03-2017   376.0  285.907867   90.092133
4  10-03-2017   377.0  271.648041  105.351959
5  17-03-2017   347.0  258.715637   88.284363
**************************************************
Mean absolute error of Forecasted data set (India Price):     62.27465057373047
         Date  Actual   Predicted      Error
0  02-12-2016   265.0  247.882965  17.117035
1  09-12-2016   290.0  247.492340  42.507660
2  16-12-2016   310.0  245.203537  64.796463
3  23-12-2016   320.5  243.321518  77.178482
4  30-12-2016   320.5  240.980576  79.519424
5  06-01-2017   331.0  238.471161  92.528839
**************************************************
Mean absolute error of Forecasted data set (India Price):     17.38147226969401
         Date  Actual   Predicted      Error
0  23-09-2016   212.0  208.104660   3.895340
1  30-09-2016   226.0  209.278061  16.721939
2  07-10-2016   226.0  210.915573  15.084427
3  14-10-2016   231.0  212.795944  18.204056
4  21-10-2016   235.0  213.621414  21.378586
5  28-10-2016   244.0  214.995514  29.004486
**************************************************
Mean absolute error of Forecasted data set (India Price):     11.911448160807291
         Date  Actual   Predicted      Error
0  15-07-2016   195.0  206.237000 -11.237000
1  22-07-2016   192.0  207.268341 -15.268341
2  29-07-2016   194.0  209.068542 -15.068542
3  05-08-2016   194.0  209.920074 -15.920074
4  12-08-2016   202.0  210.406448  -8.406448
5  19-08-2016   206.0  211.568283  -5.568283
**************************************************
Mean absolute error of Forecasted data set (India Price):     19.456143697102863
         Date  Actual   Predicted      Error
0  06-05-2016   196.0  209.671982 -13.671982
1  13-05-2016   196.0  211.454712 -15.454712
2  20-05-2016   195.0  214.297653 -19.297653
3  27-05-2016   197.0  217.592957 -20.592957
4  03-06-2016   201.0  220.522934 -19.522934
5  10-06-2016   194.0  222.196625 -28.196625
**************************************************
Mean absolute error of Forecasted data set (India Price):     7.622154235839844
         Date  Actual   Predicted      Error
0  26-02-2016   181.0  192.030762 -11.030762
1  04-03-2016   199.0  193.391174   5.608826
2  11-03-2016   201.0  197.700287   3.299713
3  18-03-2016   207.0  201.075623   5.924377
4  25-03-2016   215.0  203.677139  11.322861
5  01-04-2016   215.0  206.453613   8.546387
**************************************************
Mean absolute error of Forecasted data set (India Price):     21.792800903320312
         Date  Actual   Predicted      Error
0  18-12-2015   206.0  216.216660 -10.216660
1  25-12-2015   206.0  216.049301 -10.049301
2  01-01-2016   193.0  215.217789 -22.217789
3  08-01-2016   186.0  215.122833 -29.122833
4  15-01-2016   185.0  213.740463 -28.740463
5  22-01-2016   182.0  212.409760 -30.409760
**************************************************
Mean absolute error of Forecasted data set (India Price):     6.444730122884114
         Date  Actual   Predicted     Error
0  09-10-2015   208.0  213.584167 -5.584167
1  16-10-2015   221.0  215.517914  5.482086
2  23-10-2015   209.0  216.501358 -7.501358
3  30-10-2015   211.0  217.688507 -6.688507
4  06-11-2015   213.0  219.453644 -6.453644
5  13-11-2015   214.0  220.958618 -6.958618
**************************************************
Mean absolute error of Forecasted data set (India Price):     45.59186808268229
         Date  Actual   Predicted       Error
0  08-11-2013   437.0  434.244659    2.755341
1  15-11-2013   440.0  433.676178    6.323822
2  22-11-2013   460.0  430.019043   29.980957
3  29-11-2013   460.0  424.216675   35.783325
4  06-12-2013   500.0  417.513245   82.486755
5  13-12-2013   526.0  409.778992  116.221008
**************************************************